* {box-sizing: border-box}
  input[type=email], input[type=password], input[type=number] {
  width: 95%;
  padding: 15px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: white;
  margin-left: 15px;
   
}
label{
  margin-left: 15px;
}


h1{ text-align: center;}
p{text-align: center;}

.signup_container{
     height: 50%;
     width: 50%; 
     margin-top: 10rem;
     margin-left: 20%; 
     background-color: whitesmoke;
     border-radius: 0.5rem;
}


input[type=email]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


button {
  background-color: steelblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
  border-radius: 5px;

}

.signup_btn{
  align-items: center;
   
}

button:hover {
  opacity:1;
}



 .signup_btn {
  float: left;
  width: 50%;
}

.submit_file{
  display: flex;
  gap: 10px;
}

.container {
  padding: 16px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}




