*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cart-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
 
}
.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #bbbac9;
}

.cart-item .item-img img{ 
    width: 30px;
    height: 30px;
}
.cart-item .item-info{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-end;
}

.cart-item .item-info .actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-end;
    width: 100%;
}
/* #add-btn, #delete-btn, #minus-btn{
    
    font-size: 30px;
} */
#add-btn:hover{
    color: #027380;
    cursor: pointer;
}
#delete-btn:hover{
    color: #027380;
    cursor: pointer;
}
#minus-btn:hover{
    color: #027380;
    cursor: pointer;
}


.total{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

