<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/eabeecdfdf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href='admin.css'>
    <title>admin</title>
</head>

<body>

    <div class="main">

        <div class="sidebar">
            <h1>Admin</h1><br>

            <div class="sidebar-nav">

                <div class="stat-nav">

                    <span><i class="fa-solid fa-chart-line stat-nav-icon"></i>Statistics</span>
                </div>

                <div class="add-product-nav">
                    <span><i class="fa-solid fa-square-plus stat-nav-icon"></i>Add Product</span>
                </div>

                <div class="products-nav">
                    <span><i class="fa-solid fa-bag-shopping stat-nav-icon"></i>Products</span>
                </div>

                <div class="orders-nav">
                    <span><i class="fa-solid fa-cart-shopping stat-nav-icon"></i>Orders</span>
                </div>

                <div class="delivered-nav">
                    <span><i class="fa-solid fa-cart-shopping stat-nav-icon"></i>Delivered</span>
                </div>

                <div class="users-nav">
                    <span><i class="fa-solid fa-user stat-nav-icon"></i>Users</span>
                </div>

                <div class="settings-nav">
                    <span><i class="fa-solid fa-gear stat-nav-icon"></i>Settings</span>
                </div>

            </div>

        </div>

        <div class="contentDiv">

            <div class="headerDiv">

                <div class="salutation">
                    <p>Hello Brian <i class="fa-solid fa-hand" style="color: gold
                    ;"></i></p>
                </div>

                <div class="search-profile">
                    <div class="searchBar">
                        <input type="search" name="" id="">
                    </div>

                    <div class="profile-pic">
                        <img src="https://assets.dragoart.com/images/25071_501/drawing-lionel-messi_6228c8e976dbe2.21170070_232360_1_3.jpg"
                            alt="">
                    </div>
                </div>

            </div>

            <div class="stats-cards">

                <div class="stats-card">

                    <div class="icon-Stats">

                        <div class="icon2">
                            <i class="fa-solid fa-arrow-up stats-icon2"></i>
                        </div>

                        <div class="icon1">
                            <i class="fa-solid fa-circle-notch stats-icon"></i>
                        </div>

                    </div>

                    <div class="text-stats">
                        <h3>Total Orders</h3><br>
                        <p>$560</p>
                    </div>
                </div>

                <div class="stats-card">
                    <div class="icon-Stats">

                        <div class="icon2">
                            <i class="fa-solid fa-arrow-up stats-icon2"></i>
                        </div>

                        <div class="icon1">
                            <i class="fa-solid fa-circle-notch stats-icon"></i>
                        </div>
                    </div>

                    <div class="text-stats">
                        <h3>Total Sales</h3><br>
                        <p>$560</p>
                    </div>
                </div>

                <div class="stats-card">
                    <div class="icon-Stats">

                        <div class="icon2">
                            <i class="fa-solid fa-arrow-up stats-icon2"></i>
                        </div>

                        <div class="icon1">
                            <i class="fa-solid fa-circle-notch stats-icon"></i>
                        </div>
                    </div>

                    <div class="text-stats">
                        <h3>Total Products</h3><br>
                        <p>$560</p>
                    </div>
                </div>

                <div class="stats-card">
                    <div class="icon-Stats">

                        <div class="icon2">
                            <i class="fa-solid fa-arrow-up stats-icon2"></i>
                        </div>

                        <div class="icon1">
                            <i class="fa-solid fa-circle-notch stats-icon"></i>
                        </div>
                    </div>

                    <div class="text-stats">
                        <h3>Total Users</h3> <br>
                        <p>$560</p>
                    </div>
                </div>

            </div>

            <div class="stats-table">

                <h4>Latest Orders</h4><br>
                <div class="title">
                    <div class="checked stats-table-width">
                        <input type="checkbox" name="" id="">
                    </div>

                    <div class="name-user stats-table-width">
                        <p>Name</p>
                    </div>

                    <div class="email-user stats-table-width">
                        <p>Email</p>
                    </div>

                    <div class="role-user stats-table-width">
                        <p>Role</p>
                    </div>

                    <div class="status-user stats-table-width">
                        <p>Status</p>
                    </div>

                    <div class="action-user stats-table-width">
                    <p>Actions</p>
                    </div>
                </div>

                <div class="stats-table-data">
                    <div class="checked stats-table-width">
                        <input type="checkbox" name="" id="">
                    </div>

                    <div class="name-user stats-table-width">
                        <p>Brian Kipkosgei</p>
                    </div>

                    <div class="email-user stats-table-width">
                        <p>bk@gmail.com</p>
                    </div>

                    <div class="role-user stats-table-width">
                        <p>Customer</p>
                    </div>

                    <div class="status-user stats-table-width">
                        <p>Status</p>
                    </div>

                    <div class="action-user stats-table-width">
                    <p>Actions</p>
                    </div>
                </div>

                <div class="stats-table-nav">
                    

                    <div class="">
                        <button>Previous</button>
                    </div>

                    <div class="email-user stats-table-width">
                        <p>Page 1 of 10</p>
                    </div>

                    <div class="role-user stats-table-width">
                        <button>Next</button>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>



</body>

</html>