* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.main{
	display: grid;
}

.main {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-template-areas: 'sidebar contentDiv contentDiv contentDiv contentDiv contentDiv';
}

.sidebar {
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: rgb(39, 35, 67);
	color: white;
	padding: 3em;
	width: 15em;
}

.contentDiv {
	grid-area: contentDiv;
	background-color: rgb(243, 228, 228);
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.stat-nav-icon{
	padding-right: 10px;
}

.headerDiv {
	background-color: white;
	height: 4em;
	display: flex;
	justify-content: space-between;
}

.salutation {
	padding: 20px;
}

.search-profile {
	display: flex;
	justify-content: center;

	gap: 5em;
	padding-right: 1em;
}

.profile-pic img {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	margin-top: 8px;
}

.searchBar input {
	padding: 5px;
	border-radius: 15px;
	border: 2px solid grey;
	margin-top: 15px;
}

.stats-cards {
	margin-top: 2em;
	display: flex;
	justify-content: space-around;
	gap: 10px;
	padding: 10px;
}

.stats-card {
	background-color: white;
	border: 1px solid white;
	width: 50%;
	padding: 2em;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.stats-icon {
	font-size: 5rem;
	color: blueviolet;
}

.stats-icon2 {
	position: absolute;
	font-size: x-large;
	color: grey;
	z-index: 1;
	margin-top: 1.2em;
	margin-left: -7px;
	transform: rotate(45deg);
}

.stats-table {
	padding: 1%;
    text-align: center;
}

.stats-table .title {
display: flex;
justify-content:space-between;
background-color: rgb(190, 177, 177);
padding: 0.8rem;

}

.stats-table-width {
  width: 20%;
 }

 .stats-table-data {
    display: flex;
    justify-content:space-between;
    background-color: white;
    margin-top: 5px;
    padding: 0.8rem;
   
    }


    .stats-table-nav {
        display: flex;
        justify-content:space-evenly;
        background-color: white;
        margin-top: 5px;
        gap: 280px;
        text-align: center;
        padding-left: 80px;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
       
#add-product:hover,#users:hover,#products:hover,#orders:hover,#delivered:hover{
	cursor: pointer;
}

.product-form-group{
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	flex-direction: column;
	gap: 10px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	width: 40%;
	margin: 0 auto;
	padding: 2em;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	z-index: 100;
	
}

.product-form-group input{
	padding: 5px;
	border-radius: 15px;
	border: 2px solid grey;
}

.input-group{
	display: flex;
	justify-content: space-between;
	gap: 10px;
}


form{
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid grey;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	padding: 2em;
}

.hidden{
	display: none;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 1px solid grey;
	width: 100%;
	display: flex;
	flex-direction: column;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
	background-color: #4CAF50;
	color: white;
}

tbody tr:hover{
	background-color: #ddd;
}



table, th, td {
	border:1px solid black;
  }


tbody{
	display: flex;
	flex-direction: column;
}

/* make table of equal width */

table {
	width: 100%;
	overflow-x: auto;
	overflow-y: auto;
}

/* make table header fixed */

thead, tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

/* make table body scrollable */

tbody {
	
	overflow-y: auto;
	display: block;
	width: 100%;
	overflow-x: auto;
	
}

/* make table header cells same width as table body cells */

thead th {
	position: sticky;
	top: 0;
}

/* make table body cells same width as table header cells */

tbody th, tbody td {
	width: 100%;
}

/* make table body cells same height as table header cells */

tbody th, tbody td {
	height: 100%;
}

/* make table header cells same height as table body cells */

thead th, thead td {
	height: 100%;
}

/* make table header cells same height as table body cells */

thead th, thead td {
	height: 100%;
}

