<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/eabeecdfdf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href='admin.css'>
    <link rel="stylesheet" href=".../../../.../../../.../../../main.css">
    <title>admin</title>
</head>

<body>

    <div class="main">

        <div class="sidebar">

            <h1>Admin</h1><br>

            <div class="sidebar-nav">

                <div class="stat-nav">

                    <span><i class="fa-solid fa-chart-line stat-nav-icon"></i>Statistics</span>
                </div>

                <div class="add-product-nav">
                    <span id="add-product"><i class="fa-solid fa-square-plus stat-nav-icon"></i>Add Product</span>
                </div>

                <div class="products-nav">
                    <span id="products"><i class="fa-solid fa-bag-shopping stat-nav-icon"></i>Products</span>
                </div>

                <div class="orders-nav">
                    <span id="orders"><i class="fa-solid fa-cart-shopping stat-nav-icon"></i>Orders</span>
                </div>

                <div class="delivered-nav">
                    <span id="delivered"><i class="fa-solid fa-cart-shopping stat-nav-icon"></i>Delivered</span>
                </div>

                <div class="users-nav">
                    <span id="users"><i class="fa-solid fa-user stat-nav-icon"></i>Users</span>
                </div>

                <div class="settings-nav">
                    <span><i class="fa-solid fa-gear stat-nav-icon"></i>Settings</span>
                </div>
                <div><a href="/comforty/frontend/index.html">backto homepage</a></div>

            </div>

        </div>

        <div class="contentDiv">

            <div class="headerDiv">

                <div class="salutation">
                    <p>Hello Brian <i class="fa-solid fa-hand" style="color: gold
                    ;"></i></p>
                </div>

                <div class="search-profile">
                    <div class="searchBar">
                        <input type="search" name="" id="">
                    </div>

                    <div class="profile-pic">
                        <img src="https://assets.dragoart.com/images/25071_501/drawing-lionel-messi_6228c8e976dbe2.21170070_232360_1_3.jpg"
                            alt="">
                    </div>
                </div>

            </div>

            <div class="stats-cards">

                <div class="stats-card">

                    <div class="icon-Stats">

                        <div class="icon2">
                            <i class="fa-solid fa-arrow-up stats-icon2"></i>
                        </div>

                        <div class="icon1">
                            <i class="fa-solid fa-circle-notch stats-icon"></i>
                        </div>

                    </div>

                    <div class="text-stats">
                        <h3>Total Orders</h3><br>
                        <p>$560</p>
                    </div>
                </div>

                <div class="stats-card">
                    <div class="icon-Stats">

                        <div class="icon2">
                            <i class="fa-solid fa-arrow-up stats-icon2"></i>
                        </div>

                        <div class="icon1">
                            <i class="fa-solid fa-circle-notch stats-icon"></i>
                        </div>
                    </div>

                    <div class="text-stats">
                        <h3>Total Sales</h3><br>
                        <p>$560</p>
                    </div>
                </div>

                <div class="stats-card">
                    <div class="icon-Stats">

                        <div class="icon2">
                            <i class="fa-solid fa-arrow-up stats-icon2"></i>
                        </div>

                        <div class="icon1">
                            <i class="fa-solid fa-circle-notch stats-icon"></i>
                        </div>
                    </div>

                    <div class="text-stats">
                        <h3>Total Products</h3><br>
                        <p>$560</p>
                    </div>
                </div>

                <div class="stats-card">
                    <div class="icon-Stats">

                        <div class="icon2">
                            <i class="fa-solid fa-arrow-up stats-icon2"></i>
                        </div>

                        <div class="icon1">
                            <i class="fa-solid fa-circle-notch stats-icon"></i>
                        </div>
                    </div>

                    <div class="text-stats">
                        <h3>Total Users</h3> <br>
                        <p>$560</p>
                    </div>
                </div>

            </div>

            <div class="stats-table">


                <!-- <div class="stats-table-data">
                    <div class="checked stats-table-width">
                        <input type="checkbox" name="" id="">
                    </div>

                    <div class="name-user stats-table-width">
                        <p>Brian Kipkosgei</p>
                    </div>

                    <div class="email-user stats-table-width">
                        <p>bk@gmail.com</p>
                    </div>

                    <div class="role-user stats-table-width">
                        <p>Customer</p>
                    </div>

                    <div class="status-user stats-table-width">
                        <p>Status</p>
                    </div>

                    <div class="action-user stats-table-width">
                    <p>Actions</p>
                    </div>
                </div> -->
                <table>
                        <tbody  class="stats-table-data">
                        </tbody>
            

                </table>

                <div class="product-form-group hidden">
                    <h3>Add product</h3>
                    <form>
                        <div class="input-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" placeholder="Enter Name">
                        </div>

                        <div class="input-group">
                            <label for="description">Description</label>
                            <input type="text" name="description" id="description" placeholder="Enter Description">
                        </div>
                        <!-- price  -->
                        <div class="input-group">
                            <label for="price">Price</label>
                            <input type="text" name="price" id="price" placeholder="Enter Price">
                        </div>
                        <!-- category  -->
                        <div class="input-group">
                            <select name="category" id="category">
                                <!-- furniture category -->
                                <option value="furniture">Furniture</option>
                                <option value="bedroom">Bed</option>
                                <option value="sofa">Sofa</option>
                                <option value="dining">Dining</option>
                            </select>
                        </div>
                        <!-- image url -->
                        <div class="input-group">
                            <label for="image">Image</label>
                            <input type="text" name="image" id="image" placeholder="Enter Image URL">
                        </div>
                        <!-- recently added checkbox -->
                        <div class="input-group">
                            <input type="checkbox" name="recently-added" id="recently-added">
                            <label for="recently-added">Recently Added</label>
                        </div>
                        <!-- featured checkbox -->
                        <div class="input-group">
                            <input type="checkbox" name="featured" id="featured">
                            <label for="featured">Featured</label>
                        </div>
                        <!-- is deleted checkbox -->
                        <div class="input-group">
                            <input type="checkbox" name="is-deleted" id="is-deleted">
                            <label for="is-deleted">Is Deleted</label>
                        </div>
                        <!-- submit button -->
                        <div class="input-group">
                            <button type="submit" id="submit-btn">Add Product</button>
                        </div>
                    </form>

                </div>

                <!-- <div class="stats-table-nav">
                    

                    <div class="">
                        <button>Previous</button>
                    </div>

                    <div class="email-user stats-table-width">
                        <p>Page 1 of 10</p>
                    </div>

                    <div class="role-user stats-table-width">
                        <button>Next</button>
                    </div> -->

                   
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="../../../dist/components/admin/admin.js" defer></script>
</body>

</html>