

.singleproduct{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 60vh;
    background-color: white;
    text-align: center;
}

.product-image{
    width: 100%;   
}
.product-image img{
    width:60%; 
    height:50vh;
    padding-top: 30px;
}

.product-info{
    width: 100%;
}

.product-info h1{
   text-align: left;
}

.product-info p{
    text-align: left;
 }
 .ratings .fa-solid{
    text-align: left;
    color: gold;
 }


#price-1{
    display: flex;
   
}
#price-2{
    text-decoration: line-through;
}

.cart-buy-button{
  display: flex;
  gap: 30%;
  
}

.add-to-cart button{
width: 9vw;
}

.buy button{
   background-color: gold;
   font-weight: bold;
   width: 9vw;
}

footer{

    border-top: 1px solid rgb(245, 215, 215);
    border-bottom: 1px solid rgb(245, 215, 215);
    padding-top: 50px;
    padding-bottom: 50px;
}


.footer-items{
display: grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows: repeat(1,1fr);
gap: 100px;
grid-template-areas:
'social category support newsletter newsletter';
}

.social{
   grid-area: social;
}

.category{
   grid-area: category;
}

.support{
   grid-area: support;
}

.newsletter{
   grid-area: newsletter;
}