<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="checkout.css">
    <title>checkout</title>
</head>
<link rel="stylesheet" href=".../../../.../../../.../../../main.css">

<body>
    <header>
        <p><span><img src=".../../../.../../../.../../../asset/Group.svg" alt="check"></span> free shipping on all
            orders over $50</p>
        <div class="help">
            <p>eng <span><img src="../../../asset/Group-1.svg" alt="lang"></span></p>
            <p>faqs <span><img src="../../../asset/Group-1.svg" alt="faqs"></span></p>
            <p> <span><img src="../../../asset/alert-circle 1.svg" alt="need help"></span>need help </p>
        </div>
    </header>
    <div class="utils">
        <div class="logo">
            <img src="../../../asset/Logo-4.png" alt="logo">
        </div>
        <div class="search">
            <input type="text" placeholder="search">
        </div>
        <div class="actions">
            <div class="cart">
                <ion-icon name="cart-outline" id="cart-icon"></ion-icon>
                <p id="number-of-items"></p>
                <p>cart</p>
            </div>
            <div class="love">
                <ion-icon name="heart-outline"></ion-icon>
            </div>

            <div class="account">
                <ion-icon name="person-outline"></ion-icon>
            </div>

        </div>
    </div>
    <nav>
        <div class="menu">
            <ion-icon name="menu-outline" id="menu"></ion-icon>
            <p>All Categories</p>
        </div>
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">shop</a>
            <li><a href="#">about</a></li>
            <li><a href="#">contact</a></li>
        </ul>
        <div class="call">
            <ion-icon name="call-outline"></ion-icon>
            <p>call us</p>
        </div>
    </nav>

    <div class="checkout">
        <div class="checkout-header">
            <h1>Checkout</h1>
            <p>Home / Checkout</p>
        </div>
        <div class="checkout-body">
            <div class="checkout-body-left">
                <div class="checkout-body-left-header">
                    <h2>Billing Details</h2>
                    <select name="payment" id="">
                        <option value="payment">M-pesa</option>
                        <option value="payment">Airtell money</option>
                        <option value="payment">card</option>
                    </select>
                </div>
            </div>
            <div class="total">
                <p>Total</p>
                <p id="total">$5000</p>
            </div>
            <button>Pay now </button>
            
        </div>
    </div>

    <footer>
        <div class="footer-items">
            <div class="social">
                <img src="../../../asset/Logo-4.png" alt="logo">
                <p>Lorem ipsum dolor </p>
                <div class="social-media-icon">
                    <ion-icon name="logo-facebook"></ion-icon>
                    <ion-icon name="logo-twitter"></ion-icon>
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-linkedin"></ion-icon>
                </div>
            </div>
            <div class="category">
                <h3>Category</h3>
                <ul>
                    <li><a href="#">sofa</a></li>
                    <li><a href="#">Armchair</a></li>
                    <li><a href="#">Wing chair</a></li>
                    <li><a href="#">Wooden chair</a></li>
                    <li><a href="#">Park bench</a></li>
                </ul>
            </div>
            <div class="support">
                <h3>Support</h3>
                <ul>
                    <li><a href="#">Help & support</a></li>
                    <li><a href="#">Terms & Conditions </a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="newsletter">
                <h3>Newsleter</h3>
                <p>Subscribe to our newsletter and get 10% off your first purchase</p>
                <div class="input">
                    <input type="text" placeholder="Enter your email">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
                <button>Submit</button>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2021 All Rights Reserved. </p> <img src="../../../asset/Group 13.png" alt="payment">
    </footer>
    <script src="../../../dist/components/checkout/checkout.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>